@page
@model Test_Razor.Pages._404Model
@{
    ViewData["Title"] = "404";
}

<div style="background-image: url(img/fondoAnimales.jpg)">
    <div class="container" id="div" style="background:white">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="blogs">
                    <div class="text-center">
                        <h2>404 - Not Found</h2>
                    </div>
                    <hr>
                    <div class="text-center">
                        <p>No se ha encontrado lo que buscabas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#div').height($(window).height() - 70);
</script>
