@page
@model Test_Razor.Pages.LogoutModel
@{
    ViewData["Title"] = "Cerrar Sesión";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="blogs">
                <div class="text-center">
                    <h2>Cerrar Sesión</h2>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="border">
                <form method="post">
                    <div class="container" style="padding:30px">
                        <!--Botones-->
                        <div class="form-group">
                            <div class="row aling-items-center">
                                <div class="col-aling-self-center col-sm-6">
                                    <input type="submit" value="Salir" class="btn btn-primary form-control" />
                                    <a asp-page="Index" class="btn btn-secondary form-control">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
